{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Swagger"
  },
  "host": "www.os33dev.com",
  "basePath": "/",
  "schemes": [
    "https",
    "http"
  ],
  "consumes": [],
  "produces": [],
  "tags": [],
  "definitions": {
    "ExternalBusiness.Business.Company.Extensions.ActivityExport.Data.ActivityExportExtensionSettingsData": {
      "type": "object",
      "properties": {
        "amazonS3Uri": {
          "type": "string"
        },
        "accessKey": {
          "type": "string"
        },
        "csv": {
          "type": "boolean"
        },
        "json": {
          "type": "boolean"
        },
        "lastExportDate": {
          "format": "date-time",
          "type": "string"
        },
        "secretKey": {
          "type": "string"
        },
        "isEnabled": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.MobileApp.MdmClient.CompanyEnrollmentInfo": {
      "type": "object",
      "properties": {
        "status": {
          "enum": [
            "disconnected",
            "connected",
            "unavailable"
          ],
          "type": "string"
        },
        "organization": {
          "type": "string"
        },
        "registrationDate": {
          "format": "date-time",
          "type": "string"
        },
        "adminAccount": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.MobileApp.MdmClient.CompanyEnrollmentSignUpRequest": {
      "type": "object",
      "properties": {
        "callbackUrl": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.MobileApp.MdmClient.CompanyEnrollmentSignUpResponse": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.MobileApp.MdmClient.CompanyEnrollmentCompleteRequest": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Online.Announcement": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "lastModified": {
          "format": "date-time",
          "type": "string"
        },
        "author": {
          "type": "string"
        },
        "expirationDate": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Online.Announcements.AnnouncementV2": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "lastModified": {
          "format": "date-time",
          "type": "string"
        },
        "author": {
          "type": "string"
        },
        "readStatus": {
          "enum": [
            "all",
            "read",
            "unread"
          ],
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Online.Announcements.AnnouncementChangeStatusParameters": {
      "type": "object",
      "properties": {
        "readStatus": {
          "enum": [
            "all",
            "read",
            "unread"
          ],
          "type": "string"
        }
      }
    },
    "OS33.Mvc.Models.Online.SharedLinkPublicInfo": {
      "type": "object",
      "properties": {
        "filename": {
          "type": "string"
        },
        "phoneProofRequired": {
          "type": "boolean"
        },
        "url": {
          "type": "string"
        },
        "regionUrl": {
          "type": "string"
        },
        "downloadAvailable": {
          "type": "boolean"
        },
        "isWopiSupported": {
          "type": "boolean"
        },
        "isWopiEditAvailable": {
          "type": "boolean"
        },
        "isCitrixEditAvailable": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusinessData.Data.Online.UnlockCode": {
      "type": "object",
      "properties": {
        "sessionId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "code": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.MobileApp.MdmClient.Apple.CompanyAppleEnrollmentInfo": {
      "type": "object",
      "properties": {
        "status": {
          "enum": [
            "disconnected",
            "connected",
            "unavailable"
          ],
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.MobileApp.MdmClient.Apple.PushCertificateInfo": {
      "type": "object",
      "properties": {
        "status": {
          "enum": [
            "disconnected",
            "connected",
            "unavailable"
          ],
          "type": "string"
        },
        "appleId": {
          "type": "string"
        },
        "subjectId": {
          "type": "string"
        },
        "serialNumber": {
          "type": "string"
        },
        "lastUpdated": {
          "format": "date-time",
          "type": "string"
        },
        "expiration": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.MobileApp.MdmClient.Apple.VppTokenInfo": {
      "type": "object",
      "properties": {
        "status": {
          "enum": [
            "disconnected",
            "connected",
            "unavailable"
          ],
          "type": "string"
        },
        "appleId": {
          "type": "string"
        },
        "organizationName": {
          "type": "string"
        },
        "accountType": {
          "type": "string"
        },
        "tokenLocation": {
          "type": "string"
        },
        "lastUpdated": {
          "format": "date-time",
          "type": "string"
        },
        "lastSync": {
          "format": "date-time",
          "type": "string"
        },
        "expiration": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Online.Application": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "fileName": {
          "type": "string"
        },
        "launchUrl": {
          "type": "string"
        },
        "hostedUrl": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "initials": {
          "type": "string"
        },
        "icon": {
          "type": "string"
        },
        "icon2X": {
          "type": "string"
        },
        "iconSvg": {
          "type": "string"
        },
        "color": {
          "type": "string"
        },
        "isFavorite": {
          "type": "boolean"
        },
        "order": {
          "type": "string"
        },
        "hostedBrowserOnly": {
          "type": "boolean"
        },
        "hostedBrowserAssigned": {
          "type": "boolean"
        },
        "type": {
          "enum": [
            "citrix",
            "passwordBasedWebApp",
            "federatedWebApp",
            "oneLogin",
            "rdp",
            "jwtWebApp",
            "basicAuthenticationWebApp",
            "websiteLink",
            "inboundFederatedWebApp",
            "sandbox",
            "identityProvider",
            "directoryWebApp",
            "unknown"
          ],
          "type": "string"
        },
        "citrixApplicationType": {
          "enum": [
            "unknown",
            "browser"
          ],
          "type": "string"
        },
        "applicationActions": {
          "$ref": "#/definitions/ExternalBusinessData.Data.Online.ApplicationActions"
        },
        "isPasswordSet": {
          "type": "boolean"
        },
        "companyWebAppId": {
          "type": "string"
        },
        "absolutePath": {
          "type": "string"
        },
        "commandParam": {
          "type": "string"
        },
        "userAccountId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "userIdentity": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "new": {
          "type": "boolean"
        },
        "sharedType": {
          "enum": [
            "notShared",
            "sharedWithMe",
            "sharedByMe"
          ],
          "type": "string"
        },
        "launchMode": {
          "enum": [
            "hosted",
            "hybrid"
          ],
          "type": "string"
        },
        "launchProgramName": {
          "type": "string"
        },
        "isSharingBlocked": {
          "type": "boolean"
        },
        "accessRestriction": {
          "enum": [
            "none",
            "deviceApproval",
            "secureBrowser",
            "auto",
            "hybrid"
          ],
          "type": "string"
        },
        "extensions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createDate": {
          "format": "date-time",
          "type": "string"
        },
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "mobileApplicationDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.Online.Admin.MobileApplicationDetails"
          }
        }
      }
    },
    "ExternalBusinessData.Data.Online.ApplicationActions": {
      "type": "object",
      "properties": {
        "disableLaunch": {
          "type": "boolean"
        },
        "disableShare": {
          "type": "boolean"
        },
        "disableUpdateInfo": {
          "type": "boolean"
        },
        "disableLaunchMessageReason": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Online.Admin.MobileApplicationDetails": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "externalId": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "platform": {
          "enum": [
            "none",
            "iOS",
            "android"
          ],
          "type": "string"
        },
        "urlScheme": {
          "type": "string"
        },
        "icons": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ExternalBusiness.Services.FavoriteData": {
      "type": "object",
      "properties": {
        "isFavorite": {
          "type": "boolean"
        },
        "order": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.Application.ApplicationItem": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "title": {
          "type": "string"
        },
        "type": {
          "enum": [
            "citrix",
            "passwordBasedWebApp",
            "federatedWebApp",
            "oneLogin",
            "rdp",
            "jwtWebApp",
            "basicAuthenticationWebApp",
            "websiteLink",
            "inboundFederatedWebApp",
            "sandbox",
            "identityProvider",
            "directoryWebApp",
            "unknown"
          ],
          "type": "string"
        },
        "launchMode": {
          "enum": [
            "hosted",
            "hybrid"
          ],
          "type": "string"
        },
        "launchProgramName": {
          "type": "string"
        },
        "icon": {
          "$ref": "#/definitions/ExternalBusinessData.Data.Admin.Application.AppIcon"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.Application.AppIcon": {
      "type": "object",
      "properties": {
        "icon": {
          "type": "string"
        },
        "icon2X": {
          "type": "string"
        },
        "iconSvg": {
          "type": "string"
        },
        "color": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "initials": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.Application.ApplicationDetails": {
      "type": "object",
      "properties": {
        "assignedTo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.Admin.Application.MemberInfo"
          }
        },
        "isFavoriteByDefault": {
          "type": "boolean"
        },
        "isLaunchModeChangeAllowed": {
          "type": "boolean"
        },
        "id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "title": {
          "type": "string"
        },
        "type": {
          "enum": [
            "citrix",
            "passwordBasedWebApp",
            "federatedWebApp",
            "oneLogin",
            "rdp",
            "jwtWebApp",
            "basicAuthenticationWebApp",
            "websiteLink",
            "inboundFederatedWebApp",
            "sandbox",
            "identityProvider",
            "directoryWebApp",
            "unknown"
          ],
          "type": "string"
        },
        "launchMode": {
          "enum": [
            "hosted",
            "hybrid"
          ],
          "type": "string"
        },
        "launchProgramName": {
          "type": "string"
        },
        "icon": {
          "$ref": "#/definitions/ExternalBusinessData.Data.Admin.Application.AppIcon"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.Application.MemberInfo": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "type": {
          "enum": [
            "user",
            "group"
          ],
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ExternalBusinessData.Data.Admin.Application.ApplicationData": {
      "type": "object",
      "properties": {
        "launchMode": {
          "enum": [
            "hosted",
            "hybrid"
          ],
          "type": "string"
        },
        "isFavoriteByDefault": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.AppManagement.ApplicationItem": {
      "required": [
        "title"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "title": {
          "type": "string"
        },
        "icon": {
          "$ref": "#/definitions/ExternalBusinessData.Data.Admin.Application.AppIcon"
        },
        "winExec": {
          "type": "string"
        },
        "macExec": {
          "type": "string"
        },
        "companyAppResourceId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "numberOfAssignedUsers": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.AppManagement.ApplicationItemDetails": {
      "required": [
        "title"
      ],
      "type": "object",
      "properties": {
        "assignments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.Admin.Application.MemberInfo"
          }
        },
        "isFavoriteByDefault": {
          "type": "boolean"
        },
        "id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "title": {
          "type": "string"
        },
        "icon": {
          "$ref": "#/definitions/ExternalBusinessData.Data.Admin.Application.AppIcon"
        },
        "winExec": {
          "type": "string"
        },
        "macExec": {
          "type": "string"
        },
        "companyAppResourceId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "numberOfAssignedUsers": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "OS33.Api.DataContracts.Applications.V2.Application": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "icon": {
          "$ref": "#/definitions/OS33.Api.Interfaces.Client.Applications.V2.IApplicationIcon"
        },
        "isFavorite": {
          "type": "boolean"
        },
        "order": {
          "type": "string"
        },
        "isNew": {
          "type": "boolean"
        },
        "type": {
          "enum": [
            "desktop",
            "webapp",
            "android",
            "ios"
          ],
          "type": "string"
        },
        "compliantLaunchMode": {
          "enum": [
            "undefined",
            "none",
            "local",
            "localBrowser",
            "containerized",
            "containerizedBrowser",
            "hosted",
            "hostedBrowser",
            "secureBrowser"
          ],
          "type": "string"
        },
        "nonCompliantLaunchMode": {
          "enum": [
            "undefined",
            "none",
            "local",
            "localBrowser",
            "containerized",
            "containerizedBrowser",
            "hosted",
            "hostedBrowser",
            "secureBrowser"
          ],
          "type": "string"
        },
        "configs": {
          "$ref": "#/definitions/OS33.Api.Interfaces.Client.Applications.V2.LaunchConfigs.ILaunchConfigs"
        },
        "details": {
          "$ref": "#/definitions/OS33.Api.Interfaces.Client.Applications.V2.IApplicationDetails"
        },
        "compliantLaunchDisablingReason": {
          "enum": [
            "none",
            "loginAsRestriction",
            "secureBrowserRestriction",
            "autoAccessRestriction",
            "notSupported"
          ],
          "type": "string"
        },
        "nonCompliantLaunchDisablingReason": {
          "enum": [
            "none",
            "loginAsRestriction",
            "secureBrowserRestriction",
            "autoAccessRestriction",
            "notSupported"
          ],
          "type": "string"
        },
        "webAppDetails": {
          "$ref": "#/definitions/OS33.Api.Interfaces.Client.Applications.V2.IWebAppDetails"
        },
        "desktopAppDetails": {
          "$ref": "#/definitions/OS33.Api.Interfaces.Client.Applications.V2.IDesktopAppDetails"
        }
      }
    },
    "OS33.Api.Interfaces.Client.Applications.V2.IApplicationIcon": {
      "type": "object",
      "properties": {
        "icon1x": {
          "type": "string",
          "readOnly": true
        },
        "icon2x": {
          "type": "string",
          "readOnly": true
        },
        "iconSvg": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "category": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OS33.Api.Interfaces.Client.Applications.V2.LaunchConfigs.ILaunchConfigs": {
      "type": "object",
      "properties": {
        "containerized": {
          "$ref": "#/definitions/OS33.Api.Interfaces.Client.Applications.V2.LaunchConfigs.IContainerizedApplicationConfig",
          "readOnly": true
        },
        "containerizedBrowser": {
          "$ref": "#/definitions/OS33.Api.Interfaces.Client.Applications.V2.LaunchConfigs.IContainerizedBrowserConfig",
          "readOnly": true
        },
        "hosted": {
          "$ref": "#/definitions/OS33.Api.Interfaces.Client.Applications.V2.LaunchConfigs.IHostedApplicationConfig",
          "readOnly": true
        },
        "hostedBrowser": {
          "$ref": "#/definitions/OS33.Api.Interfaces.Client.Applications.V2.LaunchConfigs.IHostedBrowserConfig",
          "readOnly": true
        },
        "local": {
          "$ref": "#/definitions/OS33.Api.Interfaces.Client.Applications.V2.LaunchConfigs.ILocalApplicationConfig",
          "readOnly": true
        },
        "localBrowser": {
          "$ref": "#/definitions/OS33.Api.Interfaces.Client.Applications.V2.LaunchConfigs.ILocalBrowserConfig",
          "readOnly": true
        },
        "secureBrowser": {
          "$ref": "#/definitions/OS33.Api.Interfaces.Client.Applications.V2.LaunchConfigs.ISecureBrowserConfig",
          "readOnly": true
        },
        "none": {
          "$ref": "#/definitions/OS33.Api.Interfaces.Client.Applications.V2.LaunchConfigs.INoneLaunchConfig",
          "readOnly": true
        }
      }
    },
    "OS33.Api.Interfaces.Client.Applications.V2.IApplicationDetails": {
      "type": "object",
      "properties": {
        "sharedType": {
          "enum": [
            "notShared",
            "sharedWithMe",
            "sharedByMe"
          ],
          "type": "string",
          "readOnly": true
        },
        "isSharingBlocked": {
          "type": "boolean",
          "readOnly": true
        },
        "sharingBlockedReason": {
          "enum": [
            "none",
            "generalSecurity"
          ],
          "type": "string",
          "readOnly": true
        },
        "isPasswordSet": {
          "type": "boolean",
          "readOnly": true
        },
        "updateInfoDisabled": {
          "type": "boolean",
          "readOnly": true
        },
        "userAccountId": {
          "format": "uuid",
          "type": "string",
          "readOnly": true,
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "userIdentity": {
          "type": "string",
          "readOnly": true
        },
        "firstName": {
          "type": "string",
          "readOnly": true
        },
        "lastName": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OS33.Api.Interfaces.Client.Applications.V2.IWebAppDetails": {
      "type": "object",
      "properties": {
        "sharedType": {
          "enum": [
            "notShared",
            "sharedWithMe",
            "sharedByMe"
          ],
          "type": "string",
          "readOnly": true
        },
        "isSharingBlocked": {
          "type": "boolean",
          "readOnly": true
        },
        "sharingBlockedReason": {
          "enum": [
            "none",
            "generalSecurity"
          ],
          "type": "string",
          "readOnly": true
        },
        "isPasswordSet": {
          "type": "boolean",
          "readOnly": true
        },
        "withAccount": {
          "type": "boolean",
          "readOnly": true
        },
        "updateInfoDisabled": {
          "type": "boolean",
          "readOnly": true
        },
        "userAccountId": {
          "format": "uuid",
          "type": "string",
          "readOnly": true,
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "userIdentity": {
          "type": "string",
          "readOnly": true
        },
        "firstName": {
          "type": "string",
          "readOnly": true
        },
        "lastName": {
          "type": "string",
          "readOnly": true
        },
        "companyWebAppId": {
          "type": "string",
          "readOnly": true
        },
        "webAppType": {
          "enum": [
            "passwordBasedWebApp",
            "federatedWebApp",
            "oneLogin",
            "jwtWebApp",
            "basicAuthenticationWebApp",
            "websiteLink",
            "inboundFederatedWebApp",
            "identityProvider",
            "directoryWebApp",
            "unknown"
          ],
          "type": "string",
          "readOnly": true
        },
        "absoluteUrl": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OS33.Api.Interfaces.Client.Applications.V2.IDesktopAppDetails": {
      "type": "object",
      "properties": {}
    },
    "OS33.Api.Interfaces.Client.Applications.V2.LaunchConfigs.IContainerizedApplicationConfig": {
      "type": "object",
      "properties": {
        "executableName": {
          "type": "string",
          "readOnly": true
        },
        "parameters": {
          "type": "string",
          "readOnly": true
        },
        "downloadUrl": {
          "type": "string",
          "readOnly": true
        },
        "launchSessionType": {
          "enum": [
            "local",
            "hosted",
            "containerized",
            "secure"
          ],
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OS33.Api.Interfaces.Client.Applications.V2.LaunchConfigs.IContainerizedBrowserConfig": {
      "type": "object",
      "properties": {
        "webAppType": {
          "enum": [
            "passwordBasedWebApp",
            "federatedWebApp",
            "oneLogin",
            "jwtWebApp",
            "basicAuthenticationWebApp",
            "websiteLink",
            "inboundFederatedWebApp",
            "identityProvider",
            "directoryWebApp",
            "unknown"
          ],
          "type": "string",
          "readOnly": true
        },
        "companyWebAppId": {
          "type": "string",
          "readOnly": true
        },
        "launchUrl": {
          "type": "string",
          "readOnly": true
        },
        "launchSessionType": {
          "enum": [
            "local",
            "hosted",
            "containerized",
            "secure"
          ],
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OS33.Api.Interfaces.Client.Applications.V2.LaunchConfigs.IHostedApplicationConfig": {
      "type": "object",
      "properties": {
        "launchUrl": {
          "type": "string",
          "readOnly": true
        },
        "extensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "launchSessionType": {
          "enum": [
            "local",
            "hosted",
            "containerized",
            "secure"
          ],
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OS33.Api.Interfaces.Client.Applications.V2.LaunchConfigs.IHostedBrowserConfig": {
      "type": "object",
      "properties": {
        "launchUrl": {
          "type": "string",
          "readOnly": true
        },
        "launchSessionType": {
          "enum": [
            "local",
            "hosted",
            "containerized",
            "secure"
          ],
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OS33.Api.Interfaces.Client.Applications.V2.LaunchConfigs.ILocalApplicationConfig": {
      "type": "object",
      "properties": {
        "executableName": {
          "type": "string",
          "readOnly": true
        },
        "parameters": {
          "type": "string",
          "readOnly": true
        },
        "downloadUrl": {
          "type": "string",
          "readOnly": true
        },
        "launchSessionType": {
          "enum": [
            "local",
            "hosted",
            "containerized",
            "secure"
          ],
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OS33.Api.Interfaces.Client.Applications.V2.LaunchConfigs.ILocalBrowserConfig": {
      "type": "object",
      "properties": {
        "webAppType": {
          "enum": [
            "passwordBasedWebApp",
            "federatedWebApp",
            "oneLogin",
            "jwtWebApp",
            "basicAuthenticationWebApp",
            "websiteLink",
            "inboundFederatedWebApp",
            "identityProvider",
            "directoryWebApp",
            "unknown"
          ],
          "type": "string",
          "readOnly": true
        },
        "companyWebAppId": {
          "type": "string",
          "readOnly": true
        },
        "launchUrl": {
          "type": "string",
          "readOnly": true
        },
        "launchSessionType": {
          "enum": [
            "local",
            "hosted",
            "containerized",
            "secure"
          ],
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OS33.Api.Interfaces.Client.Applications.V2.LaunchConfigs.ISecureBrowserConfig": {
      "type": "object",
      "properties": {
        "launchUrl": {
          "type": "string",
          "readOnly": true
        },
        "launchSessionType": {
          "enum": [
            "local",
            "hosted",
            "containerized",
            "secure"
          ],
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OS33.Api.Interfaces.Client.Applications.V2.LaunchConfigs.INoneLaunchConfig": {
      "type": "object",
      "properties": {
        "disablingReason": {
          "enum": [
            "none",
            "loginAsRestriction",
            "secureBrowserRestriction",
            "autoAccessRestriction",
            "notSupported"
          ],
          "type": "string",
          "readOnly": true
        },
        "launchSessionType": {
          "enum": [
            "local",
            "hosted",
            "containerized",
            "secure"
          ],
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ExternalBusinessData.Data.FavoriteAppData": {
      "type": "object",
      "properties": {
        "appId": {
          "type": "string"
        },
        "appName": {
          "type": "string"
        },
        "order": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ExternalBusinessData.Data.PartnerCenter.AutoScalingGroup": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "imageId": {
          "type": "string"
        },
        "instanceType": {
          "type": "string"
        },
        "timeZone": {
          "type": "string"
        },
        "scalingRule": {
          "$ref": "#/definitions/ExternalBusinessData.Data.PartnerCenter.ScalingRule"
        },
        "isUpdating": {
          "type": "boolean"
        },
        "customScheduleIsEnabled": {
          "type": "boolean"
        },
        "isSmoothUpdate": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusinessData.Data.PartnerCenter.ScalingRule": {
      "type": "object",
      "properties": {
        "scalingRuleType": {
          "enum": [
            "fixedServers",
            "schedule",
            "dynamic"
          ],
          "type": "string"
        },
        "fixedScalingRule": {
          "$ref": "#/definitions/ExternalBusinessData.Data.PartnerCenter.FixedScalingRule"
        },
        "scheduleScalingRule": {
          "$ref": "#/definitions/ExternalBusinessData.Data.PartnerCenter.ScheduleScalingRule"
        },
        "dynamicScalingRule": {
          "$ref": "#/definitions/ExternalBusinessData.Data.PartnerCenter.DynamicScalingRule"
        }
      }
    },
    "ExternalBusinessData.Data.PartnerCenter.FixedScalingRule": {
      "type": "object",
      "properties": {
        "numberOfServers": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ExternalBusinessData.Data.PartnerCenter.ScheduleScalingRule": {
      "type": "object",
      "properties": {
        "serversCountDuringBusinessHours": {
          "format": "int32",
          "type": "integer"
        },
        "serversCountNightsAndWeekends": {
          "format": "int32",
          "type": "integer"
        },
        "businessHoursStart": {
          "format": "int32",
          "type": "integer"
        },
        "businessHoursEnd": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ExternalBusinessData.Data.PartnerCenter.DynamicScalingRule": {
      "type": "object",
      "properties": {
        "scalingPlanId": {
          "type": "string"
        },
        "peakHoursStartTime": {
          "format": "int32",
          "type": "integer"
        },
        "maxSize": {
          "format": "int32",
          "type": "integer"
        },
        "maxSizeType": {
          "enum": [
            "calculated",
            "manual"
          ],
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.AutoScalingGroup.DynamicScalingPlan": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "instanceType": {
          "type": "string"
        },
        "durationPeakTimeInHours": {
          "format": "int32",
          "type": "integer"
        },
        "idleSessionLifetimeInPeakHoursInMinutes": {
          "format": "int32",
          "type": "integer"
        },
        "idleSessionLifetimeAfterPeakHoursInMinutes": {
          "format": "int32",
          "type": "integer"
        },
        "maxSessionsPerServer": {
          "format": "int32",
          "type": "integer"
        },
        "scaleUpThresholdBySessions": {
          "format": "int32",
          "type": "integer"
        },
        "scaleDownThresholdBySessions": {
          "format": "int32",
          "type": "integer"
        },
        "warmPoolPercentageOfMaxCapacity": {
          "format": "int32",
          "type": "integer"
        },
        "warmPoolMinCapacity": {
          "format": "int32",
          "type": "integer"
        },
        "isDefault": {
          "type": "boolean"
        },
        "enforceServerRefreshInHoursAfterPeakHours": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ExternalBusinessData.Data.PartnerCenter.DetachAsgServerData": {
      "type": "object",
      "properties": {
        "serverId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "withUsersLogoff": {
          "type": "boolean"
        }
      }
    },
    "OS33.Api.DataContracts.Authentication.V2.CredentialsLoginData": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "OS33.Api.DataContracts.Authentication.JwtToken": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        }
      }
    },
    "OS33.Api.Interfaces.Client.Authentication.V2.ILoginOptions": {
      "type": "object",
      "properties": {
        "identityProvider": {
          "enum": [
            "workplace",
            "azure",
            "okta"
          ],
          "type": "string",
          "readOnly": true
        },
        "redirectUrl": {
          "type": "string",
          "readOnly": true
        },
        "isFederated": {
          "type": "boolean",
          "readOnly": true
        },
        "regions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OS33.Api.Interfaces.Client.Settings.IUserRegion"
          },
          "readOnly": true
        }
      }
    },
    "OS33.Api.Interfaces.Client.Settings.IUserRegion": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true
        },
        "priority": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "OS33.Api.Interfaces.Client.Authentication.V2.ActivationData.IMfaActivationData": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "sms",
            "symantecVip",
            "deviceApproval",
            "signinVerification",
            "guestSms",
            "deviceCompliance",
            "deviceComplianceV2"
          ],
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OS33.Api.Interfaces.Client.Authentication.V2.SessionActivationData.ISessionActivationData": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "none",
            "frontlineMobile"
          ],
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OS33.Api.DataContracts.Authentication.V2.LogoutSessionData": {
      "type": "object",
      "properties": {
        "sessionId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    "ExternalBusinessData.Data.Authentication.JwtAccessTokenData": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string"
        },
        "deviceId": {
          "type": "string"
        },
        "clientPublicKey": {
          "$ref": "#/definitions/OS33.Api.DataContracts.KeyExchange.PublicKey"
        },
        "sessionType": {
          "enum": [
            "unknown",
            "local",
            "hosted",
            "secure",
            "deviceCompliance",
            "signUp",
            "containerised",
            "frontlineMobile"
          ],
          "type": "string"
        },
        "oneTimeToken": {
          "type": "boolean"
        }
      }
    },
    "OS33.Api.DataContracts.KeyExchange.PublicKey": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "algorithm": {
          "enum": [
            "none",
            "curve25519",
            "eCDH"
          ],
          "type": "string"
        }
      }
    },
    "ExternalBusiness.Business.AuthenticationV2.ActivationByCode.ActivationCodeLoginData": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        }
      }
    },
    "OS33.Api.DataContracts.Authentication.V2.SessionProlong.SessionProlongData": {
      "type": "object",
      "properties": {
        "sessionInitiatorId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    "OS33.Api.DataContracts.Authentication.Oauth2ServiceToken": {
      "type": "object",
      "properties": {
        "services": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "expirationDate": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.AuthenticationV2.JwtAutoLoginData": {
      "type": "object",
      "properties": {
        "domain": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.Extensions.AzureConfiguration.AzureConfigurationUpdateData": {
      "type": "object",
      "properties": {
        "isEnabled": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.Credentials": {
      "type": "object",
      "properties": {
        "userName": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.Extensions.AzureConfiguration.AzureDomainModel": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "name": {
          "type": "string"
        },
        "isFederated": {
          "type": "boolean"
        },
        "errorMessage": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.AccountMappings": {
      "type": "object",
      "properties": {
        "userId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "userName": {
          "type": "string"
        },
        "directoryId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "directoryName": {
          "type": "string"
        },
        "identities": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "isSsoEnabled": {
          "type": "boolean"
        },
        "azureTargetUpn": {
          "type": "string"
        },
        "ssoLastRun": {
          "format": "date-time",
          "type": "string"
        },
        "ssoLastRunStatus": {
          "type": "boolean"
        },
        "personalFolderStorage": {
          "enum": [
            "hosted",
            "oneDrive"
          ],
          "type": "string"
        },
        "accessiblePersonalStorages": {
          "type": "object",
          "properties": {
            "hosted": {
              "type": "string"
            },
            "oneDrive": {
              "type": "string"
            }
          }
        },
        "customUpns": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExternalUtility.Data.RemoteLoginData": {
      "type": "object",
      "properties": {
        "userName": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Backup.GetBackupVersionParameters": {
      "type": "object",
      "properties": {
        "recursive": {
          "type": "boolean"
        },
        "underTime": {
          "format": "date-time",
          "type": "string"
        },
        "upwardTime": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Backup.RestoreBackupParameters": {
      "type": "object",
      "properties": {
        "destinationPath": {
          "type": "string"
        },
        "overwrite": {
          "type": "boolean"
        },
        "recursive": {
          "type": "boolean"
        },
        "underTime": {
          "format": "date-time",
          "type": "string"
        },
        "upwardTime": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "OS33.Workplace.AWS.Backup.Client.Data.RestoreRequestStatusParameters": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Online.BlockSite.BlockSite": {
      "type": "object",
      "properties": {
        "domain": {
          "type": "string"
        },
        "icon": {
          "type": "string"
        },
        "icon2X": {
          "type": "string"
        },
        "color": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "initials": {
          "type": "string"
        },
        "iconSvg": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Online.BlockSite.BlockSiteDomain": {
      "type": "object",
      "properties": {
        "domain": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Online.WebsiteLink": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "url": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "companyWebAppId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "hostedBrowserOnly": {
          "type": "boolean"
        },
        "selectedHostedBrowserId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "hostedBrowserType": {
          "enum": [
            "internetExplorer",
            "chrome",
            "firefox",
            "chromeLinux",
            "safari",
            "unknown"
          ],
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Theme.Branding": {
      "type": "object",
      "properties": {
        "companyLogoUrl": {
          "type": "string"
        },
        "loginPageBackgroundUrl": {
          "type": "string"
        },
        "loginPageHeaderUrl": {
          "type": "string"
        },
        "color": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.PortalSessions.BrowserSession": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "ip": {
          "type": "string"
        },
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "timeStamp": {
          "format": "date-time",
          "type": "string"
        },
        "os": {
          "type": "string"
        },
        "browser": {
          "type": "string"
        },
        "location": {
          "$ref": "#/definitions/ExternalBusinessData.Data.Location.Location"
        },
        "deviceFamily": {
          "type": "string"
        },
        "osFamily": {
          "type": "string"
        },
        "osVersion": {
          "type": "string"
        },
        "uaFamily": {
          "type": "string"
        },
        "uaVersion": {
          "type": "string"
        },
        "isLocal": {
          "type": "boolean"
        },
        "deviceName": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Location.Location": {
      "type": "object",
      "properties": {
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "country": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.CitrixSessions.CitrixSession": {
      "type": "object",
      "properties": {
        "sessionApplications": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.CitrixSessions.SessionApplication"
          }
        },
        "id": {
          "type": "string"
        },
        "serverName": {
          "type": "string"
        },
        "sessionState": {
          "type": "string"
        },
        "isLocal": {
          "type": "boolean"
        },
        "clientName": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        },
        "userLogonTime": {
          "format": "date-time",
          "type": "string"
        },
        "isSaaSCitrixSession": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusinessData.Data.CitrixSessions.SessionApplication": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "icon": {
          "type": "string"
        },
        "icon2X": {
          "type": "string"
        },
        "color": {
          "type": "string"
        }
      }
    },
    "OS33.Api.DataContracts.Sessions.TerminateSessionsParameters": {
      "type": "object",
      "properties": {
        "sessionType": {
          "enum": [
            "hosted",
            "saas",
            "all"
          ],
          "type": "string"
        }
      }
    },
    "OS33.Api.DataContracts.Sessions.DisconnectSessionsParameters": {
      "type": "object",
      "properties": {
        "onlyLocalSessions": {
          "type": "boolean"
        },
        "ignoreSaaSSessions": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusinessData.Data.PartnerCenter.CloudControlPanel.Category[ExternalBusinessData.Data.PartnerCenter.CloudControlPanel.Link]": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.PartnerCenter.CloudControlPanel.Link"
          }
        }
      }
    },
    "ExternalBusinessData.Data.PartnerCenter.CloudControlPanel.Link": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "data": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.DeviceCompliance.AccessPolicy.CompanyAccessPolicyModeData": {
      "type": "object",
      "properties": {
        "mode": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.DeviceCompliance.AccessPolicy.AccessPolicyRuleGroup": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "index": {
          "format": "int32",
          "type": "integer"
        },
        "isRequired": {
          "type": "boolean"
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.DeviceCompliance.AccessPolicy.Rules.PolicyRule"
          }
        }
      }
    },
    "ExternalBusinessData.Data.DeviceCompliance.AccessPolicy.Rules.PolicyRule": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "isDefault": {
          "type": "boolean"
        },
        "isRequired": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusinessData.Data.DeviceCompliance.AccessPolicy.AccessPolicyOverride": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "name": {
          "type": "string"
        },
        "index": {
          "format": "int32",
          "type": "integer"
        },
        "ipRanges": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.DeviceCompliance.AccessPolicy.IpRange"
          }
        },
        "groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.DeviceCompliance.AccessPolicy.Group"
          }
        },
        "policy": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.DeviceCompliance.AccessPolicy.AccessPolicyRuleGroup"
          }
        }
      }
    },
    "ExternalBusinessData.Data.DeviceCompliance.AccessPolicy.IpRange": {
      "type": "object",
      "properties": {
        "start": {
          "type": "string"
        },
        "end": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.DeviceCompliance.AccessPolicy.Group": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.CompanyAccount.CompanyDisasterRecoveryPlan": {
      "type": "object",
      "properties": {
        "companyId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "dataCenterLocation": {
          "$ref": "#/definitions/ExternalBusinessData.Data.CompanyAccount.DataCenterLocation"
        },
        "companyDisasterRecoveryLevels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.CompanyAccount.DisasterRecoveryLevel"
          }
        },
        "serversDisasterRecoveryInfo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.CompanyAccount.ServerDisasterRecoveryInfo"
          }
        }
      }
    },
    "ExternalBusinessData.Data.CompanyAccount.DataCenterLocation": {
      "type": "object",
      "properties": {
        "dataCenters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/System.Collections.Generic.KeyValuePair[System.Guid,System.String]"
          }
        },
        "primaryDataCenterId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "failoverDataCenterId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    "ExternalBusinessData.Data.CompanyAccount.DisasterRecoveryLevel": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "title": {
          "type": "string"
        },
        "active": {
          "type": "boolean"
        },
        "description": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExternalBusinessData.Data.CompanyAccount.ServerDisasterRecoveryInfo": {
      "type": "object",
      "properties": {
        "serverId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "serverName": {
          "type": "string"
        },
        "serverDetails": {
          "type": "string"
        },
        "serverDisasterRecoveryLevels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.CompanyAccount.DisasterRecoveryLevel"
          }
        }
      }
    },
    "System.Collections.Generic.KeyValuePair[System.Guid,System.String]": {
      "type": "object",
      "properties": {
        "key": {
          "format": "uuid",
          "type": "string",
          "readOnly": true,
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "value": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ExternalBusinessData.Data.CompanyAccount.CompanyBackupRetentionPlan": {
      "type": "object",
      "properties": {
        "companyId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "companyBackupRetentionPeriods": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.CompanyAccount.BackupRetentionPeriod"
          }
        },
        "serversBackupRetentionInfo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.CompanyAccount.ServerBackupRetentionInfo"
          }
        }
      }
    },
    "ExternalBusinessData.Data.CompanyAccount.BackupRetentionPeriod": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "title": {
          "type": "string"
        },
        "active": {
          "type": "boolean"
        },
        "description": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExternalBusinessData.Data.CompanyAccount.ServerBackupRetentionInfo": {
      "type": "object",
      "properties": {
        "serverId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "serverName": {
          "type": "string"
        },
        "serverDetails": {
          "type": "string"
        },
        "serverBackupRetentionPeriods": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.CompanyAccount.BackupRetentionPeriod"
          }
        }
      }
    },
    "ExternalBusinessData.Data.CompanyAccount.CompanyQuickLinks": {
      "type": "object",
      "properties": {
        "companyOverview": {
          "type": "string"
        },
        "disasterRecoveryRunbook": {
          "type": "string"
        },
        "backupKnowledgeBaseLink": {
          "type": "string"
        }
      }
    },
    "OS33.Mvc.API.Controllers.Online.DeviceComplianceStateModel": {
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "installRequired",
            "installNotRequired"
          ],
          "type": "string"
        },
        "canEditState": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusinessData.Data.CompanyAdmin.CompanyEmailDomainData": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "name": {
          "type": "string"
        },
        "isActive": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusinessData.Data.CompanyExtensions.KaseyaExtensionData": {
      "type": "object",
      "properties": {
        "kaseyaInstallLink": {
          "type": "string"
        }
      }
    },
    "ExternalBusiness.Business.Company.Extensions.AccountSync.Settings.AccountSyncExtensionSettings": {
      "type": "object",
      "properties": {
        "accessKey": {
          "type": "string"
        },
        "secretKey": {
          "type": "string"
        },
        "amazonS3Uri": {
          "type": "string"
        },
        "isEnabled": {
          "type": "boolean"
        },
        "isPgpDecryptEnabled": {
          "type": "boolean"
        },
        "pgpPrivateKey": {
          "type": "string"
        },
        "pgpPassPhrase": {
          "type": "string"
        },
        "lastExecuted": {
          "format": "date-time",
          "type": "string"
        },
        "hash": {
          "format": "byte",
          "type": "string"
        }
      }
    },
    "ExternalBusiness.Services.SharedFolders.Collections.ItemsCollection[OS33.Mvc.Models.Admin.AllFiles.V1.RootDirectoryItem]": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OS33.Mvc.Models.Admin.AllFiles.V1.RootDirectoryItem"
          }
        }
      }
    },
    "OS33.Mvc.Models.Admin.AllFiles.V1.RootDirectoryItem": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "directoryType": {
          "type": "string"
        }
      }
    },
    "ExternalBusiness.Services.SharedFolders.Collections.ItemsCollection[OS33.Mvc.Models.Admin.AllFiles.V1.UserItem]": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OS33.Mvc.Models.Admin.AllFiles.V1.UserItem"
          }
        }
      }
    },
    "OS33.Mvc.Models.Admin.AllFiles.V1.UserItem": {
      "type": "object",
      "properties": {
        "userId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "principalName": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "foldersNumber": {
          "format": "int32",
          "type": "integer"
        },
        "removedOn": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "ExternalBusiness.Services.SharedFolders.Collections.ItemsCollection[OS33.Mvc.Models.Admin.AllFiles.V1.UsersGroupItem]": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OS33.Mvc.Models.Admin.AllFiles.V1.UsersGroupItem"
          }
        }
      }
    },
    "OS33.Mvc.Models.Admin.AllFiles.V1.UsersGroupItem": {
      "type": "object",
      "properties": {
        "groupId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "name": {
          "type": "string"
        },
        "foldersNumber": {
          "format": "int32",
          "type": "integer"
        },
        "usersNumber": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "OS33.Mvc.Models.Drive.IRelativePath": {
      "type": "object",
      "properties": {
        "isRoot": {
          "type": "boolean",
          "readOnly": true
        },
        "hasParent": {
          "type": "boolean",
          "readOnly": true
        },
        "parent": {
          "$ref": "#/definitions/OS33.Mvc.Models.Drive.IRelativePath",
          "readOnly": true
        },
        "segments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "OS33.Mvc.Models.Drive.RequestParameters.FolderContentRequestParameters": {
      "type": "object",
      "properties": {
        "queryParameters": {
          "$ref": "#/definitions/ExternalUtility.Drive.DriveQueryParameters"
        },
        "isShowCustomInfo": {
          "type": "boolean"
        },
        "ifNoneMatch": {
          "format": "int64",
          "type": "integer"
        },
        "userAgent": {
          "type": "string"
        },
        "loginAsNumber": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ExternalUtility.Drive.DriveQueryParameters": {
      "type": "object",
      "properties": {
        "skip": {
          "format": "int32",
          "type": "integer"
        },
        "top": {
          "format": "int32",
          "type": "integer"
        },
        "orderByExpression": {
          "type": "string"
        },
        "inlineCount": {
          "enum": [
            "allpages",
            "none"
          ],
          "type": "string"
        },
        "clientType": {
          "enum": [
            "mobile",
            "desktop"
          ],
          "type": "string"
        },
        "includeMsOfficeOwnerFiles": {
          "type": "boolean"
        },
        "includingHidden": {
          "type": "boolean"
        },
        "directAccess": {
          "type": "boolean"
        },
        "includingSystem": {
          "type": "boolean"
        },
        "eTagMethod": {
          "enum": [
            "simple",
            "verbose"
          ],
          "type": "string"
        },
        "lowPriority": {
          "type": "boolean"
        },
        "includeFileId": {
          "type": "boolean"
        },
        "getFileSizeFromEa": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusiness.Services.SharedFolders.Collections.ItemsCollection[ExternalBusinessData.Data.Drive.DriveItem]": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.Drive.DriveItem"
          }
        }
      }
    },
    "ExternalBusinessData.Data.Drive.DriveItem": {
      "type": "object",
      "properties": {
        "customAttributes": {
          "enum": [
            "none",
            "favorite",
            "sharedFile"
          ],
          "type": "string"
        },
        "attributes": {
          "enum": [
            "none",
            "invalid",
            "archive",
            "compressed",
            "device",
            "directory",
            "encrypted",
            "hidden",
            "integrityStream",
            "normal",
            "notContentIndexed",
            "noScrubData",
            "offline",
            "readOnly",
            "reparsePoint",
            "sparseFile",
            "system",
            "temporary",
            "virtual",
            "backupSemantics",
            "deleteOnClose",
            "firstPipeInstance",
            "noBuffering",
            "openNoRecall",
            "openReparsePoint",
            "overlapped",
            "posixSemantics",
            "randomAccess",
            "sessionAware",
            "sequentialScan",
            "writeThrough",
            "fileOpenFlags",
            "recallOnDataAccess",
            "cannotBeSetAttributes"
          ],
          "type": "string"
        },
        "size": {
          "format": "int64",
          "type": "integer"
        },
        "creationTimeUtc": {
          "format": "date-time",
          "type": "string"
        },
        "lastWriteTimeUtc": {
          "format": "date-time",
          "type": "string"
        },
        "lastAccessTimeUtc": {
          "format": "date-time",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "directoryType": {
          "enum": [
            "unknown",
            "hosted",
            "amazon",
            "sharepoint",
            "oneDrive",
            "worm",
            "sharedFolders"
          ],
          "type": "string"
        },
        "fileSystem": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "dataSize": {
          "format": "int64",
          "type": "integer"
        },
        "authorizationCode": {
          "format": "byte",
          "type": "string"
        }
      }
    },
    "ExternalBusiness.Services.SharedFolders.Collections.ItemsCollection[OS33.Mvc.Models.Admin.AllFiles.V1.GuestItem]": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OS33.Mvc.Models.Admin.AllFiles.V1.GuestItem"
          }
        }
      }
    },
    "OS33.Mvc.Models.Admin.AllFiles.V1.GuestItem": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "mobilePhone": {
          "type": "string"
        },
        "companyId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "companyName": {
          "type": "string"
        },
        "isRegistered": {
          "type": "boolean"
        },
        "isLocked": {
          "type": "boolean"
        },
        "invitedByUserId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "invitationDate": {
          "format": "date-time",
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "invitationUpdateDate": {
          "format": "date-time",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "OS33.Mvc.Models.Admin.AllFiles.V1.DirectoryContent[OS33.Mvc.Models.SharedFolders.V2.SharedFolderInfo]": {
      "type": "object",
      "properties": {
        "path": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastKey": {
          "type": "string"
        },
        "isTruncated": {
          "type": "boolean"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OS33.Mvc.Models.SharedFolders.V2.SharedFolderInfo"
          }
        }
      }
    },
    "OS33.Mvc.Models.SharedFolders.V2.SharedFolderInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "role": {
          "type": "string"
        },
        "creationTimeUtc": {
          "type": "string"
        },
        "lastWriteTimeUtc": {
          "type": "string"
        },
        "owner": {
          "$ref": "#/definitions/ExternalBusiness.Services.SharedFolders.SharedFolderMember"
        },
        "activeMembers": {
          "$ref": "#/definitions/ExternalBusiness.Services.SharedFolders.Collections.CollectionSubset[ExternalBusiness.Services.SharedFolders.SharedFolderMember]"
        },
        "pendingMembers": {
          "$ref": "#/definitions/ExternalBusiness.Services.SharedFolders.Collections.CollectionSubset[ExternalBusiness.Services.SharedFolders.SharedFolderMember]"
        },
        "hasActiveGuests": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusiness.Services.SharedFolders.SharedFolderMember": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "companyId": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "role": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "isDeleted": {
          "type": "boolean"
        },
        "isBlocked": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusiness.Services.SharedFolders.Collections.CollectionSubset[ExternalBusiness.Services.SharedFolders.SharedFolderMember]": {
      "type": "object",
      "properties": {
        "count": {
          "format": "int32",
          "type": "integer"
        },
        "totalCount": {
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusiness.Services.SharedFolders.SharedFolderMember"
          }
        }
      }
    },
    "ExternalBusiness.Services.SharedFolders.SharedFolderMembers": {
      "type": "object",
      "properties": {
        "activeMembers": {
          "$ref": "#/definitions/ExternalBusiness.Services.SharedFolders.Collections.CollectionSubset[ExternalBusiness.Services.SharedFolders.SharedFolderMember]"
        },
        "pendingMembers": {
          "$ref": "#/definitions/ExternalBusiness.Services.SharedFolders.Collections.CollectionSubset[ExternalBusiness.Services.SharedFolders.SharedFolderMember]"
        },
        "hasActiveGuests": {
          "type": "boolean"
        }
      }
    },
    "OS33.Mvc.API.Controllers.Online.SharedFolders.V2.DataContracts.SharedFolderAddMembersData": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OS33.Mvc.API.Controllers.Online.SharedFolders.V2.DataContracts.SharedFolderMemberData"
          }
        }
      }
    },
    "OS33.Mvc.API.Controllers.Online.SharedFolders.V2.DataContracts.SharedFolderMemberData": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "companyId": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "role": {
          "type": "string"
        }
      }
    },
    "OS33.Mvc.API.Controllers.Online.SharedFolders.V2.DataContracts.SharedFolderListUpdateData": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OS33.Mvc.API.Controllers.Online.SharedFolders.V2.DataContracts.SharedFolderMemberData"
          }
        }
      }
    },
    "OS33.Mvc.API.Controllers.Online.SharedFolders.V2.DataContracts.ChangeOwnerData": {
      "required": [
        "newOwner"
      ],
      "type": "object",
      "properties": {
        "newOwner": {
          "$ref": "#/definitions/OS33.Mvc.API.Controllers.Online.SharedFolders.V2.DataContracts.SharedFolderMemberData"
        },
        "newRoleForCurrentOwner": {
          "type": "string"
        }
      }
    },
    "ExternalBusiness.Services.SharedFolders.Collections.ItemsCollection[OS33.Mvc.Models.SharedFolders.V2.SharedFolderInfo]": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OS33.Mvc.Models.SharedFolders.V2.SharedFolderInfo"
          }
        }
      }
    },
    "ExternalBusinessData.Data.User.CompanyGuestUserFilter": {
      "type": "object",
      "properties": {
        "pageNumber": {
          "format": "int32",
          "type": "integer"
        },
        "pageLength": {
          "format": "int32",
          "type": "integer"
        },
        "orderBy": {
          "enum": [
            "none",
            "firstName",
            "lastName",
            "invitedBy",
            "status"
          ],
          "type": "string"
        },
        "orderByDesc": {
          "type": "boolean"
        },
        "statuses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "searchText": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.MobileApp.CompanyMobileAppFilter": {
      "type": "object",
      "properties": {
        "platform": {
          "enum": [
            "none",
            "iOS",
            "android"
          ],
          "type": "string"
        },
        "orderBy": {
          "type": "string"
        },
        "sort": {
          "enum": [
            "asc",
            "desc"
          ],
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.MobileApp.CompanyMobileAppDetails": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "assignedTo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.Admin.Application.MemberInfo"
          }
        },
        "assignmentInfo": {
          "$ref": "#/definitions/ExternalBusinessData.Data.Admin.MobileApp.MobileAppAssignmentInfo"
        },
        "icon": {
          "$ref": "#/definitions/ExternalBusinessData.Data.Admin.Application.AppIcon"
        },
        "externalId": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "icons": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ExternalBusinessData.Data.Admin.MobileApp.MobileAppAssignmentInfo": {
      "type": "object",
      "properties": {
        "groupIds": {
          "type": "array",
          "items": {
            "format": "uuid",
            "type": "string",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "websiteId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.MobileApp.CompanyMobileAppSyncData": {
      "type": "object",
      "properties": {
        "apps": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.Admin.MobileApp.MobileAppExternalData"
          }
        },
        "platform": {
          "enum": [
            "none",
            "iOS",
            "android"
          ],
          "type": "string"
        },
        "orderBy": {
          "type": "string"
        },
        "sort": {
          "enum": [
            "asc",
            "desc"
          ],
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.MobileApp.MobileAppExternalData": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.MobileApp.CompanyMobileAppConfiguration": {
      "type": "object",
      "properties": {
        "templateId": {
          "type": "string"
        },
        "managedConfig": {
          "type": "string"
        },
        "isRequired": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusinessData.Data.Admin.MobileApp.MdmClient.CompanyWebTokenRequest": {
      "type": "object",
      "properties": {
        "parentUrl": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.PartnerCenter.Servers.CompanyResourcesSettings": {
      "type": "object",
      "properties": {
        "highAvailabilityEnabled": {
          "type": "boolean"
        },
        "hybridEnabled": {
          "type": "boolean"
        },
        "changeable": {
          "type": "boolean"
        },
        "notificationEmails": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExternalBusinessData.Data.CustomerProvisioning.CommandShortInfo": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "domain": {
          "type": "string"
        },
        "servers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "details": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.Components.ComponentKeyRequest": {
      "type": "object",
      "properties": {
        "component": {
          "type": "string"
        },
        "server": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "instance": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    "ExternalBusiness.Services.BaselineConfiguration.BaselineConfigurationData": {
      "type": "object",
      "properties": {
        "customFileShares": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusiness.Services.BaselineConfiguration.CustomFileShare"
          }
        },
        "domainType": {
          "type": "string"
        },
        "server": {
          "$ref": "#/definitions/ExternalBusiness.Services.BaselineConfiguration.ServerData"
        }
      }
    },
    "ExternalBusiness.Services.BaselineConfiguration.CustomFileShare": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "name": {
          "type": "string"
        },
        "localPath": {
          "type": "string"
        },
        "sharePath": {
          "type": "string"
        },
        "shared": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusiness.Services.BaselineConfiguration.ServerData": {
      "type": "object",
      "properties": {
        "roles": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataCenter": {
          "type": "string"
        },
        "xenAppFarm": {
          "type": "string"
        },
        "companyNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "companyShortNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusiness.Services.BaselineConfiguration.DiskData"
          }
        },
        "featureSettings": {
          "$ref": "#/definitions/ExternalRemoteData.WorkplaceBootstrap.BaselineFeatureSettings"
        }
      }
    },
    "ExternalBusiness.Services.BaselineConfiguration.DiskData": {
      "type": "object",
      "properties": {
        "volumeId": {
          "type": "string"
        },
        "size": {
          "format": "double",
          "type": "number"
        },
        "letter": {
          "type": "string"
        },
        "role": {
          "enum": [
            "none",
            "oS",
            "data",
            "log",
            "page",
            "tempDB",
            "vss",
            "recovery",
            "other"
          ],
          "type": "string"
        }
      }
    },
    "ExternalRemoteData.WorkplaceBootstrap.BaselineFeatureSettings": {
      "type": "object",
      "properties": {
        "tls10Disabled": {
          "type": "boolean"
        },
        "depDisabled": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusinessData.Data.ContainerActivity": {
      "type": "object",
      "properties": {
        "activityLogType": {
          "enum": [
            "sessionLoggedIn",
            "sessionLoggedOut",
            "sessionInvalidPassword",
            "sessionExpired",
            "sessionLoginAsUser",
            "sessionRemoteWipeInitiated",
            "sessionRemoteWipeStarted",
            "sessionRemoteWipeFinished",
            "sessionUserDeleted",
            "sessionNewLocation",
            "sessionNewOrganization",
            "sessionLoggedOutAfterChangePassword",
            "inactiveSessionApprovedByManager",
            "inactiveSessionDeniedByManager",
            "accountLocked",
            "accountUnlocked",
            "passwordChanged",
            "passwordReset",
            "webApplicationLaunch",
            "webApplicationLaunchFailed",
            "citrixApplicationLaunch",
            "citrixApplicationLaunchFailed",
            "citrixApplicationReconnect",
            "citrixApplicationDisconnect",
            "citrixApplicationLogoff",
            "citrixApplicationTerminate",
            "sharedFileDownloadedByAnonymous",
            "sharedFilePreviewedByAnonymous",
            "sharedFileDownloadedByTrackedUser",
            "sharedFilePreviewedByTrackedUser",
            "sharedFileHasInvalidAttemptUnlockCode",
            "sharedFileDownloadedByPrivateUser",
            "sharedFilePreviewedByPrivateUser",
            "userDeviceDeny",
            "userDeviceAllowSecured",
            "userDeviceAllowWhenSecured",
            "userDeviceAllowUnsecured",
            "userDeviceLogout",
            "userDeviceLogoutUntilSecured",
            "userDeviceSecurityChecksDecreased",
            "userDeviceNewRequest",
            "userDeviceRequestDeleted",
            "sharedFileLinkWasDeletedAfterCleanup",
            "revealPasswordForUser",
            "revealPasswordForAdmin",
            "linkedDeviceToWorkAccount",
            "sharedFileLinkCreated",
            "sharedFileLinkUpdated",
            "sharedFileLinkDeleted",
            "sharedWebsiteCreateForUser",
            "sharedWebsiteDeleteForUser",
            "sharedWebsiteCreateForGroup",
            "sharedWebsiteDeleteForGroup",
            "privateEmailChanged",
            "privatePhoneChanged",
            "userDeviceRemoteWipeInitiated",
            "officeApplicationOnMobileConnect",
            "accountBlockedByReactor",
            "deviceAdded",
            "userAddedViaSaml",
            "userUpdatedViaSaml",
            "userLoggedInViaSaml",
            "deviceLoginStateSuccess",
            "deviceSecurityImproved",
            "deviceSecurityWorsened",
            "deviceSecurityChanged",
            "deviceWorkplaceUpdated",
            "deviceLoginStateBypass",
            "userTempAccessGranted",
            "userTempAccessRemoved",
            "deviceNewUser",
            "captureUrl",
            "captureCopyClipboard",
            "capturePasteClipboard",
            "captureUpload",
            "captureDownload",
            "capturePrinting",
            "userSignedUp",
            "deviceLoginStateSuccessOnMobile",
            "userSkippedNotRequiredSoftwareInstall",
            "workplaceInstallRequiredActivated",
            "workplaceInstallRequiredDeactivated",
            "userSkippedRequiredSoftwareInstall",
            "deviceLoginStateSuccessWithoutChecks",
            "deviceLoginStateSuccessToOfficeApplication",
            "userLoggedInToWorkplaceAdminViaSaml",
            "deviceLoginSessionTimeout",
            "guestAccessRemoved",
            "guestAccessBlocked",
            "guestAccessUnblocked",
            "guestInvitedToFolder",
            "guestFolderAccessRemoved",
            "guestFolderPermissionChanged",
            "guestInvitationReminderSent",
            "guestPhoneNumberChanged",
            "guestEmailChanged",
            "userBlocked",
            "userUnblocked",
            "sessionRecordingStart",
            "sessionRecordingStop",
            "oAuthApplicationConnect",
            "sessionProlong",
            "deviceMarkedAsKnown",
            "deviceMarkedAsUnknown",
            "fciAgentInstalled",
            "sessionLoginFailedForRestrictedCountries",
            "deviceManagedServiceEnrolled",
            "deviceManagedServiceSkipped",
            "deviceManagedServiceOptedOut",
            "screenSaverRemediated",
            "screenSaverTimeoutRemediated",
            "antivirusRemediated",
            "inviteUser",
            "resendInviteUser",
            "revokeInviteUser",
            "rmmAgentInstalled",
            "gatewayConnectionOpen",
            "gatewayConnectionClosed",
            "deviceBlocked",
            "deviceUnblocked",
            "deviceDeleted",
            "policyChanged",
            "mdmDeviceConnected",
            "mdmDeviceDisconnected",
            "launchedLocalProtectedApplication",
            "launchLocalProtectedApplicationFailure",
            "protectedWebsiteAccessed",
            "protectedWebsiteAccessFailure",
            "screenShareAcknowledgement",
            "screenShareRenouncement",
            "localZoneProtectionRunning",
            "localZoneProtectionStopped",
            "localZoneProtectionInterrupted",
            "gatewayConnectionInterrupted",
            "mdmAndroidAccountConnected",
            "mdmAndroidAccountDisconnected",
            "mdmAppleApnsAdded",
            "mdmAppleApnsRemoved",
            "mdmAppleVppAdded",
            "mdmAppleVppRemoved"
          ],
          "type": "string"
        },
        "data": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ExternalBusiness.Business.Company.Extensions.Csp.Data.CspExtensionSettingsData": {
      "type": "object",
      "properties": {
        "isEnabled": {
          "type": "boolean"
        },
        "login": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "accountId": {
          "type": "string"
        },
        "applicationId": {
          "type": "string"
        },
        "domain": {
          "type": "string"
        },
        "secretKey": {
          "type": "string"
        },
        "nativeApplicationId": {
          "type": "string"
        },
        "contactFirstName": {
          "type": "string"
        },
        "contactLastName": {
          "type": "string"
        },
        "contactEmail": {
          "type": "string"
        },
        "contactPhoneNumber": {
          "type": "string"
        }
      }
    },
    "OS33.Mvc.Models.Admin.Company.DomainModel": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "name": {
          "type": "string"
        },
        "errorMessage": {
          "type": "string"
        },
        "selected": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusinessData.Data.CustomerProvisioning.CreateCompanyData": {
      "required": [
        "company",
        "config"
      ],
      "type": "object",
      "properties": {
        "company": {
          "$ref": "#/definitions/ExternalBusinessData.Data.CustomerProvisioning.Company"
        },
        "config": {
          "$ref": "#/definitions/ExternalBusinessData.Data.CustomerProvisioning.CompanyProvisioningConfiguration"
        },
        "companyId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    "ExternalBusinessData.Data.CustomerProvisioning.Company": {
      "required": [
        "displayName",
        "name",
        "address"
      ],
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "pattern": "[0-9A-Za-z]+",
          "type": "string"
        },
        "address": {
          "$ref": "#/definitions/ExternalBusinessData.Data.CustomerProvisioning.Address"
        },
        "industryCode": {
          "format": "int32",
          "type": "integer"
        },
        "product": {
          "enum": [
            "noProduct",
            "frontline",
            "stronghold",
            "select",
            "strongholdV2Custom",
            "strongholdV2Standard",
            "workplaceLocal",
            "workplaceHybrid",
            "vdaEssentials"
          ],
          "type": "string"
        },
        "isPartner": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusinessData.Data.CustomerProvisioning.CompanyProvisioningConfiguration": {
      "type": "object",
      "properties": {
        "customerRegion": {
          "type": "string"
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mailingList": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "manager": {
          "$ref": "#/definitions/ExternalBusinessData.Data.CustomerProvisioning.UserInputData"
        },
        "enableOffice365Integration": {
          "type": "boolean"
        },
        "enableHighAvailability": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusinessData.Data.CustomerProvisioning.Address": {
      "required": [
        "line1",
        "city",
        "state",
        "countryCode",
        "zip"
      ],
      "type": "object",
      "properties": {
        "line1": {
          "type": "string"
        },
        "line2": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "countryCode": {
          "type": "string"
        },
        "zip": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.CustomerProvisioning.UserInputData": {
      "type": "object",
      "properties": {
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "mfaType": {
          "enum": [
            "none",
            "oS33",
            "symantecVIP",
            "signInVerification"
          ],
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.CustomerProvisioning.Product": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "fullDescription": {
          "type": "string"
        },
        "parts": {
          "type": "array",
          "items": {
            "enum": [
              "awsAccount",
              "deviceCompliance",
              "windowsHosting",
              "highAvailability",
              "workplaceFiles",
              "secureBrowser",
              "office365",
              "localApps",
              "localZone"
            ],
            "type": "string"
          }
        },
        "canChange": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusinessData.Data.PartnerCenter.IndustryCode": {
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.PartnerCenter.DataCenterRegion": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ExternalBusinessData.Data.PartnerCenter.Application": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "isDefault": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusiness.Business.CustomerProvisioning.Common.LocalAppInfo": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "winExecName": {
          "type": "string"
        },
        "macExecName": {
          "type": "string"
        },
        "isFavorite": {
          "type": "boolean"
        }
      }
    },
    "ExternalBusinessData.Data.DeviceCompliance.Dashboard.CompanyChecksSummaryDetailed": {
      "type": "object",
      "properties": {
        "companyId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "name": {
          "type": "string"
        },
        "shortName": {
          "type": "string"
        },
        "mspName": {
          "type": "string"
        },
        "mspShortName": {
          "type": "string"
        },
        "deviceComplianceState": {
          "enum": [
            "installRequired",
            "installNotRequired"
          ],
          "type": "string"
        },
        "defaultProduct": {
          "type": "string"
        },
        "usersCount": {
          "format": "int32",
          "type": "integer"
        },
        "summaryDate": {
          "format": "date-time",
          "type": "string"
        },
        "devicesWithoutIssues": {
          "format": "int32",
          "type": "integer"
        },
        "totalDevices": {
          "format": "int32",
          "type": "integer"
        },
        "checkSummaries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.DeviceCompliance.Dashboard.CheckSummary"
          }
        },
        "devicesWithIssues": {
          "format": "int32",
          "type": "integer"
        },
        "devicesWithRequiredIssues": {
          "format": "int32",
          "type": "integer"
        },
        "devicesWithRecommendedIssues": {
          "format": "int32",
          "type": "integer"
        },
        "devicesSummaryInfo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalBusinessData.Data.DeviceCompliance.Dashboard.DeviceOsTypeCounter"
          }
        }
      }
    },
    "ExternalBusinessData.Data.DeviceCompliance.Dashboard.CheckSummary": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "devicesChecked": {
          "format": "int32",
          "type": "integer"
        },
        "devicesFailed": {
          "format": "int32",
          "type": "integer"
        },
        "osType": {
          "type": "string"
        },
        "devicesFailedRequired": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ExternalBusinessData.Data.DeviceCompliance.Dashboard.DeviceOsTypeCounter": {
      "type": "object",
      "properties": {
        "osType": {
          "enum": [
            "windows",
            "mac",
            "ios",
            "android"
          ],
          "type": "string"
        },
        "totalDevices": {
          "format": "int32",
          "type": "integer"
        },
        "devicesWithRequiredIssues": {
          "format": "int32",
          "type": "integer"
        },
        "devicesWithRecommendedIssues": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ExternalBusinessData.Data.DeviceCompliance.Dashboard.DevicesV2Company": {
      "type": "object",
      "properties": {
        "companyId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "name": {
          "type": "string"
        },
        "shortName": {
          "type": "string"
        },
        "mspName": {
          "type": "string"
        },
        "mspShortName": {
          "type": "string"
        },
        "deviceComplianceState": {
          "enum": [
            "installRequired",
            "installNotRequired"
          ],
          "type": "string"
        },
        "defaultProduct": {
          "type": "string"
        },
        "usersCount": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ExternalBusinessData.Data.PartnerCenter.CustomerDetails": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "logoUrl": {
          "type": "string"
        },
        "name": {
          "type": "object"
        },
        "shortName": {
          "type": "object"
        },
        "mspName": {
          "type": "object"
        },
        "mspShortName": {
          "type": "object"
        },
        "address": {
          "$ref": "#/definitions/ExternalBusinessData.Data.PartnerCenter.Address"
        },
        "defaultProduct": {
          "type": "string"
        },
        "canLoginAs": {
          "type": "boolean"
        }
      }
    },
[...]
